---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Prefooter from '../components/Pre-footer.astro';
---

<Layout title='Interact 2023'>
	
	
	
	<main>
		<Navbar/>
		<content>
			<section class='cfp-content-1'>

					<div class='title'>
						<h3>
							CALL FOR PAPERS
						</h3>
						<h1 class="bold-title">
							GENERAL <br> INFORMATION
						</h1>
					</div>

						<p>
							We invite you to submit your original work to INTERACT 2023 in one of the following tracks below:
						</p>

						<!-- Middle Line -->
						

						<div class="submissions">
							<div class="middle-line"></div>

						<!-- January Submissions -->
						<div class="sub-types">
							<h3>Submissions by 25 January 2023</h3>
							<div class="selection">
								
									<div class="box">
										<a class="none" href="/submissions/0">
											<div>
												<img src="/Full Papers.svg" alt="">
											</div>
											
											<div class="sub-details">
												<h3>Full Papers</h3>
												<p>Abstract due by 18 January 2023</p>
											</div>
										</a>
									</div>
								
								<div class="box">
									<a class="none" href="/submissions/6">
											<div>
												<img src="/Courses.svg" alt="">
											</div>
											
											<div class="sub-details">
												<h3>Courses</h3>
											</div>
										</a>
								</div>
								<div class="box">
									<a class="none" href="/submissions/7">
										<div>
											<img src="/Workshops.svg" alt="">
										</div>
										
										<div class="sub-details">
											<h3>Workshops</h3>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- April Submissions -->

						<div class="sub-types">
							<h3>Submissions by 19 April 2023</h3>
							<div class="selection">
								
									<div class="box">
										<a class="none" href="/submissions/2">
											<div>
												<img src="/Short Papers.svg" alt="">
											</div>
											
											<div class="sub-details">
												<h3>Short Papers</h3>
												<p>Abstract due by 18 January 2023</p>
											</div>
										</a>
									</div>
								
								<div class="box">
									<a class="none" href="/submissions/3">
											<div>
												<img src="/Posters.svg" alt="">
											</div>
											
											<div class="sub-details">
												<h3>Posters</h3>
											</div>
										</a>
								</div>
								<div class="box">
									<a class="none" href="/submissions/4">
										<div>
											<img src="/Panels.svg" alt="">
										</div>
										
										<div class="sub-details">
											<h3>Panels</h3>
										</div>
									</a>
								</div>
							</div>
								
							<div class="selection">

								<div class="box">
									<a class="none" href="/submissions/5">
										<div>
											<img src="/Interactive Demos.svg" alt="">
										</div>
										
										<div class="sub-details">
											<h3>Interactive Demos</h3>
										</div>
									</a>
								</div>

								<div class="box">
									<a class="none" href="/submissions/7">
										<div>
											<img src="/PhD.svg" alt="">
										</div>
										
										<div class="sub-details">
											<h3>Doctoral Consortium</h3>
										</div>
									</a>
								</div>

								<div class="box">
									<a class="none" href="/submissions/8">
										<div>
											<img src="/Industrial Experiences.svg" alt="">
										</div>
										
										<div class="sub-details">
											<h3>Industrial Experiences</h3>
										</div>
									</a>
								</div>
							</div>
						</div>
						
					

					<div class="center">
						<button class="sub-types button-padding" href="">
							<a href="/submissions/0"><h2>View All ></h2></a> 
						</button>
					</div>
				
				</div>
						
				<p class="center">
					All contributions are peer reviewed, juried or curated by the members of the INTERACT Programme
 					Committee and specialist SubCommittees.
				</p>
				
			</section>

			<section class='cfp-content-3'>

				<h1 class="thin">
					THEME:
				</h1>
				<h1 class="bold-title">
					JUSTICE AND EQUALITY
				</h1>

				<p>
					The INTERACT Conference welcomes submissions on all aspects of human-computer interaction, but for this conference will particularly welcome papers on issues related to justice and equality, for example:
				</p>

				<div class='home-list'>

					<div class='list-line'></div>

					<div class='home-list-items'>
						<h3>
							HCI to support sustainable development 
						</h3>

						<h3>
							HCI to support reduction in food waste, water and energy use
						</h3>

						<h3>
							HCI to support freedom of expression 
						</h3>

						<h3>
							Consideration of gender, sexuality and ethnic diversity in HCI 
						</h3>

						<h3>
							HCI and inclusion of disabled and older people
						</h3>

						<h3>
							HCI countering adversity
						</h3>
					</div>
				</div>

				<button class='read-more'>
					<a href="/submissions/0">Read More ></a>
				</button>

			</section>

			<section class='cfp-content-4'>

				<h1 class="bold-title">
					CHAIRS
				</h1>

				<content class="juries-section">

					<h4>
						General Co-Chairs
					</h4>
					
					<div class="juries-details">
						<div class="profile">

							<img src="/" alt="" width="200px" height="200px">

							<div class="text-details">
								<h4>
									Paolo Buono
								</h4>
								<p>
									University of Bari Aldo Moro, Italy
								</p>
							</div>
						</div>
					

					<div class="profile">

						<img src="/" alt="" width="200px" height="200px">

						<div class="text-details">
							<h4>
								Paolo Buono
							</h4>
							<p>
								University of Bari Aldo Moro, Italy
							</p>
						</div>
					</div>

					

					</div>
				</content>

				<content class="juries-section">

					<h4>
						Technical Programme Co-Chairs
					</h4>
					
					<div class="juries-details">
						<div class="profile">

							<img src="/" alt="" width="200px" height="200px">

							<div class="text-details">
								<h4>
									Paolo Buono
								</h4>
								<p>
									University of Bari Aldo Moro, Italy
								</p>
							</div>
						</div>
					

					<div class="profile">

						<img src="/" alt="" width="200px" height="200px">

						<div class="text-details">
							<h4>
								Paolo Buono
							</h4>
							<p>
								University of Bari Aldo Moro, Italy
							</p>
						</div>
					</div>

					<div class="profile">

						<img src="/" alt="" width="200px" height="200px">

						<div class="text-details">
							<h4>
								Paolo Buono
							</h4>
							<p>
								University of Bari Aldo Moro, Italy
							</p>
						</div>
					</div>
					</div>
				</content>

			</section>

			
			
		</content>
		
	</main>

	<Footer/>
	
</Layout>

<style>

	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	.cfp-content-1{
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		/* justify-content: space-between; */
		/* height: 100vh; */
		/* width: 100%; */
		padding: 2em;
		border-bottom: 1px solid #002C38;
		/* padding-left: 16em; */
	}

	.center{
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.button-padding h2{
		padding: 0.1em 1em;
		border-radius: 50px;
	}

	.center *{
		margin: auto;
	}

	.sub-types{
		background-color: #002C38;
		color: #FCF7EB;
		border-radius: 30px;
		padding: 0.5em 0em 0.5em 0em ;
		margin-bottom: 1em;
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		/* width: max-content; */
		/* height: 100%; */
		/* width: 100%; */
	}

	.selection{
		padding: 0.5em;
		display: flex;
		/* flex-wrap: wrap; */
	}

	.sub-types h3{
		margin: 0px;
		padding: 0.2em;
		padding-left: 1em;
		padding-bottom: 0.5em;
		font-family: 'AH-B'
	}

	.box{
		display: flex;
		border-radius: 30px;
		background-color: #FCF7EB;
		width: 100%;
		padding: 1em;
		/* justify-content: space-between; */
		margin-left: 0.7em;
		/* height: 2em; */
		color: #002C38;
	}

	.box h3{
		padding: 0%;
		margin: 0%;
		/* padding-top: 0%; */
		/* padding-left: 1em; */
		/* padding-bottom: 0.2em; */
		font-family: 'AH-B'
	}

	.box p{
		/* padding-left: 1em; */
		margin: 0px;
	}

	.box img{
		height: 4em;
		max-width: 3em;
	}

	.box:last-child{
		margin-right: 0.7em;
	}

	.sub-details{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 1em;
	}

	content{
		z-index: 1;
		box-sizing: border-box;
		/* width: 100%; */
		/* position: absolute;
		top: 0%; */
		/* height: 100vh; */
		padding: 0px;
		/* padding-left: 14em; */
		margin: 0px;
		width: 100%;
		/* max-width: 100%; */
		/* overflow-x: hidden; */
		
	}

	.submissions{
		position: relative;
		justify-content: center;
		align-items: center;
	}

	.cfp-content-3{

		box-sizing: border-box;
		border-bottom: 1px solid #002C38;
		height: 100vh;
		display: flex;
		padding-left: 16em;
		padding: 4em;

	}

	.cfp-content-2, .cfp-content-3, .cfp-content-4{
		display: flex;
		flex-direction: column;
		padding: 4em;
		border-bottom: 1px solid #002C38;
		/* padding-left: 16em; */
	}

	.cfp-content-2 h1, .cfp-content-3 h1, .cfp-content-4 h1{
		/* padding-top: 1em; */
		/* padding-bottom: 1em; */
		margin: 0%;
		/* font-family: 'S-B'; */
		font-size: 2.5em;
	}

	.thin{
		font-family: 'S-R';
		margin: 0%;
		padding: 0%;
	}



	.profile{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin: auto;

	}

	.profile img{
		margin: auto;
		padding-bottom: 1em;
	}

	.profile h4, .profile p{
		margin: 0%;
		padding: 0%;
	}

	h4{
		font-family: 'AH-B';
	}

	.juries-details{
		display: flex;
	}

	.juries-section{
		display: flex;
		display: block;
		align-content: space-between;
		padding-bottom: 4em;
	}

	.juries-section:last-child{
		display: flex;
		display: block;
		align-content: space-between;
		padding-bottom: 0%;
	}

	.text-details{
		justify-content: center;
		align-content: center;
		text-align: center;
	}

	.nav-container{
		width: 14em;
	}

	.img-mask{
		max-height: 450px;
		overflow: hidden;
	}

	.rch{
		width: 100%;
		/* max-height: 473px; */
		object-fit: cover;
	}

	.stretch{
		box-sizing: border-box;
		display: flex;
		width: 100%;
		/* height: 100%; */
	}

	.pill{
		font-family: 'AH-B';
		font-size: 1em;
		margin: 0px;
		display: flex;
		padding: 0.2em 0.5em 0.2em 0.5em ;
		background-color: #002C38;
		color: #FCF7EB;
		border-radius: 50px;
		align-items: center;
		width: fit-content;
	}

	.pill img{
		margin: 0%;
		padding-right: 0.5em;
		width: 1em;
		height: 1em;
	}

	.location-detail{
		align-items: flex-end;
		margin-top: auto;
		margin-bottom: 0%;
		margin-left: 2em;
		white-space: nowrap;
		width: max-content;
	}

	.title{
		
		overflow: hidden;
		/* width: 200%; */
	}

	.title h1{
		font-family: 'S-B';
		font-size: 2.5em;
		/* height: 50%; */
		margin: 0%;
	}

	.title h3{
		font-family: 'S-B';
		font-size: 1.2em;
		padding-bottom: 0.2em;
		/* height: 50%; */
		margin: 0%;
	}

	

	.cfp-content-5 h1{
		padding-top: 1em;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0%;
		font-family: 'S-B';
		font-size: 2.5em;
	}

	.cfp-content-2 h3{
		margin: 0%;
		padding-top: 1em;
		font-family: 'AH-B';
		
		/* font-size: 2.5em; */
	}

	.middle-line{

		position: absolute;
		margin: auto;
		top: 20%;
		left: 50%;
		width: 15px;
		border-radius: 50px;
		height: 75%;
		background-color: #002C38;
		z-index: -1;
	}

	.transparent{
		opacity: 5%;
	}

	.theme{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		white-space: nowrap;
		height: min-content;
		margin-top: 2em;
	}

	/* .date{
		padding-top: 1em;
		margin: 0%;
	} */



	main{
		display: flex;
		flex-direction: row;
		overscroll-behavior: none;
		/* overflow-y: scroll */
		/* height: 300vh;
		padding-left: 14em; */
		/* margin-left: 14em; */
		/* position: absolute; */

	}

	.flex{
		display: flex;
	}

	.icons{
		box-sizing: border-box;
		max-width: 12em;
		margin: auto;
		padding: 1.5em;
		
	}

	.items{
		padding-top: 2em;
		padding-bottom: 2em;
		align-items: center;

	}

	.icon-container{
		display: flex;
		width: 15em;
		border-right: 2px solid #002C38;
		padding-right: 1em;
	}


	.items p{
		padding-left: 1.5em;

	}

	.item-description{
		width: 65%;
	}
	
	.home-list{
		display: flex;
		height: 50%;
		
		margin: auto;
		margin-left: 0%;
	}

	.list-line{
		margin-right: 1.2em;
		border-radius: 50px;
		width: 5px;
		background-color: #002C38;
	}

	.home-list h3{
		margin: 0px;
	}

	.home-list-items{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.read-more{
		padding-left: 1em;
		padding-right: 1em;
		width: max-content;
	}

	.logos{
		width: 90%;
		margin: auto;
	}

	.gold-tier{
		display: block;
		width: 100%;
		padding-bottom: 2em;
		
	}

	

	.logo-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.gold-tier .square{
		width: 8em;
		height: 8em;
		
		background-color: #002C38;
	}

	.silver-tier, .bronze-tier{
		width: 45%;
	}

	.silver-tier .square, .bronze-tier .square{
		width: 4em;
		height: 4em;
		
		background-color: #002C38;
	}

	.side-by-side{
		display: flex;
		justify-content: space-between;
	}

	.timeline-marker{
		margin: 1em;
		width: 0.5em;
		height: 0.5em;
		border-radius: 50px;
		background-color: #002C38;
	}

	.timeline-detail{
		display: flex;
		/* transform: translateX(-0.9%); */
		align-items: center;
		margin: 0%;
		display: flex;
		position: absolute;
	}

	.timeline-detail h3{
		display: block;
		justify-content:center;
		text-align: center;
		width: 8em;
		margin: 0%;
		/* padding: 1em; */
	}

	.p1{
		top: 0%;
	}

	.p2{
		top: 25%;
	}

	.p3{
		top: 50%;
	}

	.p4{
		top: 75%;
	}

	.timeline{
		position: relative;
		height: 300px;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: 2em;
	}

	.line{
		display: flex;
		box-sizing: border-box;
		width: 3px;
		height: 100%;
		background-color: #002C38;
		border-radius: 50px;
		/* border: 2px solid #002C38; */
	}
	
	.underline{
		text-decoration: underline;
	}

	.bold{
		font-family: 'AH-B';
	}

	.bold-title{
		font-family: 'S-B';
	}

	.none{
		all: unset;
		cursor: auto;
		display: flex;
	}

	@media screen and (max-width:1200px){

.sub-types{
	padding-bottom: 0%;
	padding: 1em;
}

.box{
	margin: 0%;
	margin-bottom: 0.5em;
}

.box:last-child{
	margin: 0%;
	margin-bottom: 0%;
}

.selection{
	padding: 0em;
	padding-top: 0.5em;
	flex-direction: column;
}

.cfp-content-4, .cfp-content-3{
	
	padding: 2em;

	justify-content: center;
	min-height: 100vh;
	height: auto;
}

.home-list-items h3{
	padding-top: 1em;
}

.juries-details{
	flex-wrap: wrap;
}

.read-more{
	margin-top: 1em;
}

}

	@media screen and (max-width:830px){

		.sub-types{
			
			padding: 0.5em;
			padding-left: 1em;
			padding-right: 1em;
			padding-bottom: 1em;
		}

		.sub-types:last-child{
			padding-bottom: 0.5em;
			
		}
		
		.box{
			margin: 0%;
			margin-bottom: 0.5em;
		}

		.box:last-child{
			margin: 0%;
			margin-bottom: 0%;
		}

		.selection{
			padding: 0em;
			padding-top: 0.5em;
			flex-direction: column;
		}

		.cfp-content-4, .cfp-content-3{
			padding: 1em;
			justify-content: center;
			padding-top: 4em;
			padding-bottom: 4em;
			justify-content: center;
			min-height: 100vh;
			height: auto;
		}

		.read-more{
			margin-top: 2em;
		}

		.cfp-content-1{
			padding: 1em;
		}

		.juries-details{
			flex-wrap: wrap;
		}

		h1, .bold-title, .thin-astro{
			font-size: 0.9em;
		}

		.title{
		
		overflow: hidden;
		/* width: 200%; */
		}

		.title h1{
			font-family: 'S-B';
			font-size: 2em;
			/* height: 50%; */
			margin: 0%;
		}

		.title h3{
			font-family: 'S-B';
			font-size: 1.1em;
			padding-bottom: 0.2em;
			/* height: 50%; */
			margin: 0%;
		}

		.cfp-content-3 h1:first-child{
			/* font-family: 'S-B'; */
			font-size: 1.8em;
			padding-bottom: 0.2em;
			/* height: 50%; */
			margin: 0%;
		}

		.cfp-content-3 h1{
			/* font-family: 'S-B'; */
			font-size: 2em;
			padding-bottom: 0.2em;
			/* height: 50%; */
			margin: 0%;
		}

	}

	

</style>