---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Prefooter from "../components/Pre-footer.astro";
import Animated from "../components/Animated.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Interact 2023">
	<!-- <Banner/> -->
	<main>
		<!-- <section class='banner'>
			<a href="/student-volunteers">
				<p>
					<span>Apply to be an Interact 2023 Student Volunteer</span> <b>></b>
				</p>
			</a>
		</section> -->
		<Navbar />

		<content>
			<section class="home-content-1">
				<div class="stretch">
					<div class="img-mask">
						<img class="rch" src="/RCH-HR.webp" />
					</div>

					<aside class="location-detail">
						<a
							href="https://goo.gl/maps/iQtpm2kFD9hs8FUu9"
							target="_blank"
						>
							<div class="pill">
								<img src="/location.svg" />
								Location >
							</div>
							Ron Cooke Hub <br />
							University Of York
						</a>
					</aside>
				</div>

				<div class="theme">
					<div class="title not-mobile tablet">
						<h1>
							DESIGN FOR <span class="transparent"
								>EQUALITY AND JUSTICE DESIGN FOR EQUALITY AND
								JUSTICE DESIGN FOR</span
							>
						</h1>
						<h1>
							EQUALITY AND JUSTICE <span class="transparent"
								>DESIGN FOR EQUALITY AND JUSTICE DESIGN FOR
								EQUALITY AND JUSTICE</span
							>
						</h1>
					</div>

					<div class="title mobile">
						<h1>
							<span class="less-emphasis"> DESIGN FOR</span><span
								class="transparent"
								>EQUALITY & JUSTICE DESIGN FOR</span
							>
						</h1>

						<h1>
							EQUALITY <span class="transparent"
								>& JUSTICE DESIGN FOR EQUALITY AND JUSTICE</span
							>
						</h1>
						<h1>
							& JUSTICE <span class="transparent"
								>DESIGN FOR EQUALITY AND JUSTICE</span
							>
						</h1>
					</div>

					<h3 class="date">
						28 August - 1 September 2023.<br />
						York, UK and Online.
					</h3>
				</div>
			</section>

			<section class="home-content-updates" id="updates-section">
				<h1>LATEST UPDATES</h1>

				
				<p class="bold" style="color: hsl(10, 21%, 95%);">
					Courses and Programme information now available! 
				</p>
				<br>
				<p class="date">
					7-June-2023
				</p>
				<br>
				<p>
					The conference programme and information about courses is now available:
				</p>
				<br>
				<a href="/programme">
					<button style="background-color: var(--color-bg); color: var(--color-text)">
						Check out Programme >
					</button>
				</a>
				
				<br /><br />
				
				<div id="prevNews">
					<p class="bold" style="color: hsl(10, 21%, 95%);">
						Grants for students and early-stage researchers from developing countries. 
					</p>
					<br>
					<p class="date">
						7-June-2023
					</p>
					<br>
					<p>
						TC13 and the IFIP Digital Equity Committee will partially support Masters and PhD students and early-stage researchers from developing countries to attend the conference. Please check the <a href="student-grant">grant information</a> page for eligibility criteria and how to apply.
					</p>
					<br />

					<p class="bold" style="color: hsl(10, 21%, 95%);">
						Registration is now OPEN!
					</p>
					<br>
					<p class="date">
						7-June-2023
					</p>
					<br>
					<p>
						To check the details regarding registration, visit the <a href="/registration">Registration</a> page.
					</p>
					<br /><br />
					<p class="bold" style="color: hsl(10, 21%, 95%);">
						Apply to be a student volunteer!
					</p>
					<br>
					<p class="date">
						11-June-2023
					</p>
					<br>
					<p>
						
						Interested in being a student volunteer? Check out the <a href="/student-volunteers">Student Volunteer</a> page for more information!
					</p>
	
					<br /><br />
					<!-- <br /><br />
					<p class="bold" style="color: hsl(10, 21%, 95%);">
						Delay in opening registration
					</p>
					<br />
					<p class="date">16-April-2023</p>
					<br />
					<p>
						Apologies for the delay in opening registration, this
						will be available early next week.
					</p>
					<br /><br />
					<p class="bold" style="color: hsl(10, 21%, 95%);">
						New Submission Deadlines
					</p>
					<br />
					<p class="date">16-April-2023</p>
					<br />
					<p>
						Due to a number of requests, we are extending the
						deadline for the next round of submissions (Short Papers
						etc) for INTERACT 2023 from April 19 to April 26.
						<br /><br />
						In addition, Posters can have four pages of text for the
						extended abstract PLUS one page for references.
						<br /><br />
						Check out <a href="/cfp">Call For Papers</a> for more updates.
					</p>
					<br /><br />
					<p class="bold">
						Full Papers and Workshops Submission Deadlines
					</p>
					<br />
					<p class="date">23-January-2023</p>
					<br />
					<p>
						Due to numerous requests, the deadline for Full Papers
						is extended until Wednesday 1 February (23:59, anywhere
						on earth). If you can submit an abstract by 25 January,
						that would be greatly appreciated (it will help allocate
						papers for reviewing).
						<br /><br />
						There has been some confusion about the deadline for Workshop
						submissions. So we will accept submissions for Workshops
						up until February 27 2023. Proposers will be notified within
						two weeks of submission, so they can start advertising their
						workshop.
					</p> -->
				</div>
			</section>

			<section class="home-content-2">
				<h1>ABOUT THIS EVENT</h1>
				<p>


					INTERACT 2023 is the <span class="underline">
						<a href="http://ifip-tc13.org/">
							19th International Conference of Technical Committee
							13 (Human- Computer Interaction)</a
						></span
					> of <span class="underline">
						<a href="https://ifip.org/">
							IFIP (International Federation for Information
							Processing)</a
						></span
					>.

					<br />
					<br />

					The INTERACT Conference is held every two years. <span
						class="underline"
						><a href="http://ifip-tc13.org/interact/"
							>It started in 1984</a
						></span
					>, making it one of the longest running conferences on

					human-computer interaction. <br /><br /> The INTERACT 2023 Conference will be both in-person and online.
							<br><br>
							The Conference will be colocated with the British Computer Society HCI 2023 Conference.
							<br><br>
							<a href="https://bcshci2023.org/">
								<button>
									Visit the BCS HCI Conference page >
								</button>
							</a>

				</p>

				<h3>Theme</h3>

				<p>
					The theme of the 19th conference is <span class="bold"
						>“Design for Equality and Justice”</span
					>. Increasingly computer science as a discipline is becoming
					concerned about issues of justice and equality – from fake
					news to rights for robots, from the ethics of driverless
					vehicles to the gamergate controversy.

					<br /><br />

					The HCI community is surely well placed to be at the leading
					edge of such discussions within the wider computer science
					community and in the dialogue between computer science and
					the broader society.

					<br /><br />

					Justice and equality are both particularly important
					concepts both for the City of York and the University of
					York. The City of York, has a long history of working for
					justice and equality.
				</p>

				<h3>Location: York</h3>

				<p>
					York has a long history of working for justice and equality,
					from the Quakers and their philanthropiic chocolate
					companies, to current initiatives:
				</p>

				<div>
					<div class="flex items">
						<div class="icon-container">
							<img class="icons" src="/YHRC.webp" />
						</div>

						<p class="item-description">
							York continues to work for justice and equality to
							this day. It is the UK’s first <span
								class="underline"
								><a href="https://www.yorkhumanrights.org/">
									Human Rights City</a
								></span
							>, encouraging organizations and citizens to
							“increasingly think about human rights, talk about
							human rights issues and stand up for rights whether
							that’s at work, school or home”.
						</p>
					</div>

					<div class="flex items">
						<div class="icon-container">
							<img class="icons" src="/One-planet.webp" />
						</div>

						<p class="item-description">
							The City of York has also launched <span
								class="bold underline"
							>
								<a href="https://www.york.gov.uk/OnePlanetYork"
									>“One Planet York”</a
								></span
							> , a network of organisations working towards a more
							sustainable, resilient and collaborative “one planet”
							future.
						</p>
					</div>

					<div class="flex items">
						<div class="icon-container">
							<img class="icons" src="/zero-emissions.svg" />
						</div>

						<p class="item-description">
							York is now working to become the first “Zero
							emissions” city centre, with much of the medieval
							centre already car free.
						</p>
					</div>
				</div>
			</section>

			<section class="home-content-3">
				<div class="responsive-container">
					<div class="header-info">
						<h1>CALL FOR PAPERS</h1>
						<p>
							The INTERACT Conference welcomes submissions on all
							aspects of human-computer interaction, but for this
							conference will particularly welcome papers on
							issues related to justice and equality, for example:
						</p>
						<button class="read-more not-mobile">
							<a href="/cfp">Visit Call For Papers ></a>
						</button>
					</div>

					<div class="home-list">
						<div class="list-line"></div>

						<div class="home-list-items">
							<!-- <h3>
							HCI to support sustainable development 
						</h3>

						<h3>
							HCI to support reduction in food waste, water and energy use
						</h3>

						<h3>
							HCI to support freedom of expression 
						</h3>

						<h3>
							Consideration of gender, sexuality and ethnic diversity in HCI 
						</h3>

						<h3>
							HCI and inclusion of disabled and older people
						</h3>

						<h3>
							HCI countering adversity
						</h3> -->

							<h3>Accessibility and assistive technologies</h3>

							<h3>
								Design for business and safety/critical
								interactive systems
							</h3>

							<h3>Design of interactive entertainment systems</h3>

							<h3>HCI Education and Curriculum</h3>

							<h3>Human-AI Interaction</h3>

							<h3>Information visualization</h3>

							<h3>
								Interaction design for culture and development
							</h3>

							<h3>
								Interactive Systems Technologies and Engineering
							</h3>

							<h3>Methodologies for HCI</h3>

							<h3>Social and Ubiquitous Interaction</h3>

							<h3>HCI for Justice and Equality</h3>

							<h3>Understanding users and human behaviour</h3>
						</div>
					</div>
					<button class="read-more mobile tablet">
						<a href="/cfp">Visit Call For Papers ></a>
					</button>
				</div>
			</section>

			<section class="home-content-4">
				<h1>PROGRAMME</h1>

				<p>
					The detailed programme will be released nearer the
					conference.
				</p>

				<div class="timeline">
					<div class="line"></div>
					<div class="timeline-detail p1">
						<h3>28 August</h3>
						<div class="timeline-marker"></div>
						<h3>BCS HCI Conference</h3>
					</div>

					<div class="timeline-detail p2">
						<h3>29 August</h3>
						<div class="timeline-marker"></div>
						<h3>BCS HCI Conference</h3>
					</div>

					<div class="timeline-detail p3">
						<h3>30 August</h3>
						<div class="timeline-marker"></div>
						<h3>INTERACT Conference</h3>
					</div>

					<div class="timeline-detail p4">
						<h3>31 August</h3>
						<div class="timeline-marker"></div>
						<h3>INTERACT Conference</h3>
					</div>

					<div class="timeline-detail p5">
						<h3>1 September</h3>
						<div class="timeline-marker"></div>
						<h3>INTERACT Conference</h3>
					</div>
				</div>
				<button class="read-more"> 
					<a href="/programme">
						Check Out Programme >
					</a>
					
				</button>
			</section>

			<Prefooter />
		</content>
	</main>

	<Footer />

	<!-- <script>
		declare global{
			interface Window {
				netlifyIdentity: any;
			}
		}
		if (window.netlifyIdentity) {
		  window.netlifyIdentity.on("init", ((user: any) => {
			if (!user) {
			  window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
			  });
			}
		  });
		}
	  </script> -->
	<script>
		declare global {
			interface Window {
				netlifyIdentity: any;
			}
		}
		if (window.netlifyIdentity) {
			window.netlifyIdentity.on("init", (user: any) => {
				if (!user) {
					window.netlifyIdentity.on("login", () => {
						document.location.href = "/admin/";
					});
				}
			});
		}

		if (window.location.hash != "") {
			// window.location.get("invite_token")
			// var invite_token = new URLSearchParams(window.location.href).get('invite_token');
			if (window.location.hash.includes("invite")) {
				var invite_token = window.location.hash;
				console.log("Invite Token: " + invite_token);
				document.location.href = `/admin/${invite_token}`;
			}
		}
	</script>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	.banner {
		background-color: #002c38;
		color: #fcf7eb;
		padding: 0.5em 2em;
		text-decoration: none;
	}

	.banner a {
		text-decoration: none;
	}

	.banner a:hover {
		text-decoration: none;
	}

	.banner b {
		margin-left: 0%;
		transition: all 0.3s;
		text-decoration: none;
	}

	.banner:hover b {
		margin-left: 1em;
	}

	.banner:hover span {
		text-decoration: underline;
	}

	.banner p {
		margin: 0%;
		text-decoration: none;
	}

	.home-content-1 {
		box-sizing: border-box;
		display: flex;

		flex-direction: column;
		justify-content: space-evenly;
		height: 90vh;
		padding: 3em 4em;
		padding-bottom: 1em;
		border-bottom: 1px solid #002c38;
		/* padding-left: 16em; */
	}

	.home-content-2 {
		padding-left: 16em;
		padding: 4em;
	}

	.home-content-updates h1 {
		padding-bottom: 1em;
		margin: 0%;
		font-family: "S-B";
		font-size: 1.5em;
		opacity: 0.7;
		color: var(--color-bg);
	}

	.home-content-updates p {
		margin: 0px;
	}

	.home-content-updates .bold {
		font-size: 1.2em;
	}

	.home-content-3 {
		box-sizing: border-box;
		border-bottom: 1px solid #002c38;
		height: max-content;
		display: flex;
		/* padding-left: 16em; */
		padding: 4em;
	}

	.home-list h3 {
		padding-top: 1em;
	}

	.home-content-4 {
		box-sizing: border-box;
		border-bottom: 1px solid #002c38;
		height: 100vh;
		display: flex;
		align-items: center;
		padding-left: 16em;
		padding: 4em;
		text-align: center;
	}

	.home-content-5 {
		align-content: center;
		box-sizing: border-box;
		border-bottom: 1px solid #002c38;
		height: 100vh;
		display: flex;
		flex-direction: column;
		padding: 4em;
		/* padding-left: 16em; */
	}

	.home-content-updates {
		display: flex;
		flex-direction: column;
		padding: 2em 4em;
		border-bottom: 1px solid #002c38;
		background-color: #002c38;
		color: #fcf7eb;
	}

	content {
		z-index: 1;
		box-sizing: border-box;
		/* width: 100%; */
		/* position: absolute;
		top: 0%; */
		/* height: 100vh; */
		padding: 0px;
		/* padding-left: 14em; */
		margin: 0px;
		max-width: 100%;
		overflow-x: hidden;
	}

	.nav-container {
		width: 14em;
	}

	.img-mask {
		width: 100%;
		overflow: hidden;
		object-fit: cover;
		object-position: center;
		justify-content: center;
		align-items: center;
	}

	.rch {
		width: 100%;
		/* max-height: 473px; */
		object-fit: cover;
	}

	.stretch {
		box-sizing: border-box;
		display: flex;
		width: 100%;
		overflow: hidden;
		/* height: 100%; */
	}

	.pill {
		font-family: "AH-B";
		font-size: 1em;
		margin: 0px;
		display: flex;
		padding: 0.2em 0.5em 0.2em 0.5em;
		background-color: #002c38;
		color: #fcf7eb;
		border-radius: 50px;
		align-items: center;
		width: fit-content;
	}

	.pill img {
		margin: 0%;
		padding-right: 0.5em;
		width: 1em;
		height: 1em;
	}

	.location-detail {
		align-items: flex-end;
		margin-top: auto;
		margin-bottom: 0%;
		margin-left: 2em;
		white-space: nowrap;
		width: max-content;
	}

	.title {
		overflow: hidden;
		width: 200%;
	}

	.title h1 {
		font-family: "S-B";
		font-size: 2em;
		/* height: 50%; */
		margin: 0%;
	}

	.home-content-2,
	.home-content-3,
	.home-content-4 {
		display: flex;
		flex-direction: column;
		padding: 4em;
		border-bottom: 1px solid #002c38;
		/* padding-left: 16em; */
	}

	.home-content-updates .date {
		font-size: 0.8em;
		opacity: 0.8;
	}

	.home-content-updates * {
		opacity: 1;
	}

	#prevNews {
		opacity: 0.7;
	}

	.home-content-2 h1,
	.home-content-3 h1,
	.home-content-4 h1 {
		/* padding-top: 1em; */
		padding-bottom: 1em;
		margin: 0%;
		font-family: "S-B";
		font-size: 2.5em;
	}

	.home-content-5 h1 {
		padding-top: 1em;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0%;
		font-family: "S-B";
		font-size: 2.5em;
	}

	.home-content-2 h3 {
		margin: 0%;
		padding-top: 1em;
		font-family: "AH-B";

		/* font-size: 2.5em; */
	}

	.transparent {
		opacity: 5%;
	}

	.theme {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		white-space: nowrap;
		height: min-content;
		margin-top: 2em;
	}

	/* .date{
		padding-top: 1em;
		margin: 0%;
	} */

	main {
		display: flex;
		flex-direction: row;
		overscroll-behavior: none;
		/* overflow-y: scroll */
		/* height: 300vh;
		padding-left: 14em; */
		/* margin-left: 14em; */
		/* position: absolute; */
	}

	.flex {
		display: flex;
	}

	.icons {
		box-sizing: border-box;
		max-width: 12em;
		margin: auto;
		padding: 1.5em;
	}

	.items {
		padding-top: 2em;
		padding-bottom: 2em;
		align-items: center;
	}

	.icon-container {
		display: flex;
		width: 15em;
		border-right: 2px solid #002c38;
		padding-right: 1em;
	}

	.items p {
		padding-left: 1.5em;
	}

	.item-description {
		width: 65%;
	}

	.home-list {
		display: flex;
		height: 100%;
		padding: 2em;
		padding-left: 2em;
		/* margin-right: 2em; */
		margin-left: 0%;
		background-color: #fff;
		border-radius: 0.2em;
		box-shadow: 10px 10px 50px #002c3833;
	}

	.responsive-container {
		display: flex;
		justify-items: center;
		align-items: center;
	}

	.responsive-container p:first-child {
		width: 40%;
		font-size: 1.5em;
	}

	.header-info {
		padding-right: 2em;
		width: 50%;
	}

	.desc-list {
		width: 60%;
	}

	.list-line {
		margin-right: 1.5em;
		border-radius: 50px;
		width: 5px;
		background-color: #002c38;
	}

	.home-list-items h3 {
		margin: 0px;
		padding-top: 1.5em;
	}

	.home-list-items {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.read-more {
		padding-left: 1em;
		padding-right: 1em;
		height: max-content;
		width: max-content;
	}

	.logos {
		width: 90%;
		margin: auto;
	}

	.gold-tier {
		display: block;
		width: 100%;
		padding-bottom: 2em;
	}

	.logo-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.gold-tier .square {
		width: 8em;
		height: 8em;

		background-color: #002c38;
	}

	.silver-tier,
	.bronze-tier {
		width: 45%;
	}

	.silver-tier .square,
	.bronze-tier .square {
		width: 4em;
		height: 4em;

		background-color: #002c38;
	}

	.side-by-side {
		display: flex;
		justify-content: space-between;
	}

	.timeline-marker {
		margin: 1em;
		width: 0.5em;
		height: 0.5em;
		border-radius: 50px;
		background-color: #002c38;
	}

	.timeline-detail {
		display: flex;
		/* transform: translateX(-0.9%); */
		align-items: center;
		margin: 0%;
		display: flex;
		position: absolute;
	}

	.timeline-detail h3 {
		display: block;
		justify-content: center;
		text-align: left;
		width: 14em;
		margin: 0%;
		font-weight: 100;
		/* padding: 1em; */
	}

	.timeline-detail h3:first-child {
		display: block;
		justify-content: center;
		text-align: right;
		width: 14em;
		margin: 0%;
		font-weight: 1000;

		/* padding: 1em; */
	}

	.p1 {
		top: 0%;
	}

	.p2 {
		top: 20%;
	}

	.p3 {
		top: 40%;
	}

	.p4 {
		top: 60%;
	}

	.p5 {
		top: 80%;
	}

	.timeline {
		position: relative;
		height: 70%;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		display: flex;
		flex-direction: column;
		/* margin: 2em; */
	}

	.line {
		display: flex;
		box-sizing: border-box;
		width: 3px;
		height: 100%;
		background-color: #002c38;
		border-radius: 50px;
		/* border: 2px solid #002C38; */
	}

	.underline {
		text-decoration: underline;
	}

	.bold {
		font-family: "AH-B";
	}

	.not-mobile {
		display: block;
	}

	.mobile {
		display: none;
	}

	.less-emphasis {
		opacity: 70%;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: flex;
	}

	#prevNews {
		padding-top: 1em;
		border-top: solid 1px hsl(10, 21%, 95%);
		font-size: medium;
	}

	#updates-section a {
		text-decoration: underline;
	}

	@media screen and (min-width: 1921px) {
		.title {
			font-size: 1.4em;
		}
	}

	@media screen and (max-width: 1200px) {
		.home-content-1 {
			padding: 2em;
			min-height: 100vh;
			padding-top: 2em;
			padding-bottom: 1em;
			justify-content: center;
		}

		.home-content-2 {
			padding: 2em;
			padding-top: 2em;
			padding-bottom: 0px;
			justify-content: center;
		}

		.home-content-updates {
			padding: 2em 1em;
			justify-content: center;
		}

		.theme {
			/* padding-top: 2em; */
			/* padding-left: 2em; */
			margin: 1em;
			margin-left: 0em;
			margin-top: 0em;
			margin-bottom: 0%;
			align-self: flex-start;
			order: 1;
		}

		.date {
			/* padding-top: 0.3em; */
			margin: auto;
			margin-bottom: 0%;
			margin-left: 0%;
		}

		.stretch {
			display: flex;
			height: max-content;
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;
			order: 2;
		}

		.location-detail {
			display: flex;
			flex-direction: row;
			/* align-items: flex-end; */
			justify-content: flex-end;
			align-self: flex-end;
			width: 100%;
			padding-left: 1em;
			margin: 0%;
			text-align: left;
		}

		.title h1 {
			width: 100vw;
		}

		.title {
			width: 100vw;
			font-size: 1em;
		}

		.img-mask img {
			min-height: 100%;
			/* min-width: 100%; */
		}

		.img-mask {
			padding-top: 1em;
			padding-bottom: 1em;
			height: 100%;
			overflow: hidden;
		}

		.home-content-3 {
			padding: 3em;
			justify-content: center;
		}

		.home-list h3 {
			padding-top: 2em;
		}

		.mobile {
			display: none;
			/* flex-direction: column; */
		}

		.not-mobile {
			display: none;
		}

		.tablet {
			display: flex;
			flex-direction: column;
		}

		/* .title .mobile{
			display: none;
		}

		.title .not-mobile{
			display: flex;
			flex-direction: column;
		} */

		.responsive-container {
			display: flex;
			flex-direction: column;
			/* justify-items: left; */
			align-items: stretch;
		}

		.header-info {
			width: 100%;
		}

		.home-list {
			width: 100%;
			margin-left: 0%;
		}
		.home-list h3 {
			padding-top: 1.5em;
		}

		.read-more {
			align-self: center;
			margin-top: 4em;
			margin-bottom: 2em;
		}

		.location-detail {
			padding-top: 1em;
			padding-bottom: 1em;
			padding-right: 0.5em;
		}
	}

	@media screen and (max-width: 830px) {
		.home-content-2 h1,
		.home-content-3 h1,
		.home-content-4 h1 {
			/* padding-top: 1em; */
			padding-bottom: 1em;
			margin: 0%;
			font-family: "S-B";
			font-size: 2em;
		}

		.home-list {
			display: flex;
			height: 50%;

			margin: auto;
			margin-left: 1em;
		}

		.timeline-detail h3 {
			display: block;
			justify-content: center;
			text-align: left;
			width: 100%;
			margin: 0%;
			/* padding: 1em; */
		}

		.timeline-detail h3:first-child {
			display: block;
			justify-content: center;
			text-align: right;
			width: 100%;
			margin: 0%;

			/* padding: 1em; */
		}

		.timeline-marker {
			/* margin: 1em; */
			width: 1em;
			height: 0.5em;
			border-radius: 50px;
			background-color: #002c38;
		}

		.home-content-1 {
			padding: 0%;
			justify-content: space-evenly;
			min-height: calc(100vh - 78.4px);
			height: calc(100vh - 78.4px);
		}

		.theme {
			font-size: 0.8em;
			padding-left: 1em;
			padding-right: 0.5em;
			/* margin: auto; */
		}

		.not-mobile {
			display: none;
		}

		.mobile {
			display: flex;
		}

		.title {
			font-size: 1.3em;
			flex-direction: column;
		}

		.title h1 {
			/* padding-bottom: 0.1em; */
			line-height: 1.1em;
		}

		.stretch {
			justify-content: space-evenly;
			height: max-content;
		}

		.img-mask {
			min-height: 50vh;
		}

		/* .location-detail{
			padding-top: 2em;
		} */

		.home-content-3 {
			padding-left: 2em;
			padding-right: 2em;
		}

		.home-content-4 {
			padding: 2em;
			justify-content: center;
			text-align: center;
		}

		.home-content-4 p {
			padding-left: 1em;
			padding-right: 1em;
		}

		.items {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		.icon-container {
			width: 100%;
			border: 0px;
		}

		.item-description {
			width: 100%;
		}

		.list-line {
			margin-right: 1em;
		}

		.responsive-container {
			display: flex;
			flex-direction: column;
			/* justify-items: left; */
			align-items: stretch;
		}

		.header-info {
			width: 100%;
		}

		.home-list {
			width: 100%;
			margin-left: 0%;
		}
		.home-list h3 {
			padding-top: 1.5em;
		}

		.read-more {
			align-self: center;
			margin-top: 4em;
			margin-bottom: 2em;
		}

		.pill {
			/* margin: auto; */
			margin-top: 0.3em;
			margin-bottom: 0.3em;
		}

		/* Presets */

		.mobile {
			display: flex;
		}

		.not-mobile {
			display: none;
		}
	}
</style>
