---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Prefooter from '../components/Pre-footer.astro';
---

<Layout title='Interact 2023'>
	
	
	
	<main>
		<Navbar/>
		<content>

			<section class='cfp-content-4'>

				<h1 class="bold-title">
					ORGANIZING COMMITTEE
				</h1>

				<content class="juries-section">

					<h4 class="title">
						General Chairs
					</h4>
					
					<div class="juries-details">
						<div class="profile">

							<img src="" alt="" width="200px" height="200px">

							<div class="text-details">
								<h4>
									Helen Petrie
								</h4>
								<p>
									University of York, UK
								</p>
							</div>
						</div>
					

					<div class="profile">

						<img src="" alt="" width="200px" height="200px">

						<div class="text-details">
							<h4>
								Jose Abdelnour-Nocera
							</h4>
							<p>
								University of West London, UK and ITI/Larsys, Portugal
							</p>
						</div>
					</div>
					</div>
				</content>

				<content class="juries-section">

					<h4 class="title">
						Technical Programme Chair
					</h4>
					
					<div class="juries-details">
						<div class="profile">

							<img src="" alt="" width="200px" height="200px">

							<div class="text-details">
								<h4>
									Marco Winckler
								</h4>
								<p>
									University of the Cote d'Azur, France
								</p>
							</div>
						</div>
					</div>
				</content>

				<content class="juries-section">

					<h4 class="title">
						Full Papers Chairs
					</h4>
					
					<div class="juries-details">
						<div class="profile">

							<img src="" alt="" width="200px" height="200px">

							<div class="text-details">
								<h4>
									Antonio Piccinno
								</h4>
								<p>
									University of Bari Aldo Moro, Italy
								</p>
							</div>
						</div>
					

					<div class="profile">

						<img src="" alt="" width="200px" height="200px">

						<div class="text-details">
							<h4>
								Marta Kristin Larusdottir
							</h4>
							<p>
								Reykjavik University, Iceland
							</p>
						</div>
					</div>

					
					</div>
				</content>

				<content class="juries-section">

					<h4 class="title">
						Short Papers Chairs
					</h4>
					
					<div class="juries-details">
						<div class="profile">

							<img src="" alt="" width="200px" height="200px">

							<div class="text-details">
								<h4>
									Marta Rey
								</h4>
								<p>
									Google, USA
								</p>
							</div>
						</div>
					

					<div class="profile">

						<img src="" alt="" width="200px" height="200px">

						<div class="text-details">
							<h4>
								Frode Eika Sandnes
							</h4>
							<p>
								Oslo Metropolitan University, Norway
							</p>
						</div>
					</div>

					
					</div>
				</content>

				<content class="juries-section">

					<h4 class="title">
						Poster Chairs
					</h4>
					
					<div class="juries-details">
							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Alena Denisova
									</h4>
									<p>
										University of York, UK
									</p>
								</div>
							</div>
					

							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Burak Merdenyan
									</h4>
									<p>
										University of York, UK
									</p>
								</div>
							</div>

					</div>
				</content>

				<content class="juries-section">

					<h4 class="title">
						Workshops Chairs
					</h4>
					
					<div class="juries-details">
							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Jan Stage
									</h4>
									<p>
										Aalborg University, Denmark
									</p>
								</div>
							</div>
					

							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Anna Bramwell-Dicks
									</h4>
									<p>
										University of York, UK
									</p>
								</div>
							</div>

					</div>
				</content>

				<content class="juries-section">

					<h4 class="title">
						Panels Chairs
					</h4>
					
					<div class="juries-details">
							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Effie Lai-Chong Law
									</h4>
									<p>
										Durham University, UK
									</p>
								</div>
							</div>
					

							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Massimo Zancanaro
									</h4>
									<p>
										University of Trento, Italy
									</p>
								</div>
							</div>

					</div>
				</content>

				<content class="juries-section">

					<h4 class="title">
						Student Volunteers Chairs
					</h4>
					
					<div class="juries-details">
							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Sanjit Samaddar
									</h4>
									<p>
										University of York, UK
									</p>
								</div>
							</div>
					

							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Daniel Lock
									</h4>
									<p>
										University of York, UK
									</p>
								</div>
							</div>
					</div>
				</content>

				<content class="juries-section">

					<h4 class="title">
						Interactive Demonstrations Chairs
					</h4>
					
					<div class="juries-details">
							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Barbara Rita Barricelli
									</h4>
									<p>
										University of Brescia, Italy
									</p>
								</div>
							</div>
					

							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Jainendra Shukla
									</h4>
									<p>
										Indraprastha Institute of Information Technology, India
									</p>
								</div>
							</div>

					</div>
				</content>

				

				<content class="juries-section">

					<h4 class="title">
						Courses Chairs
					</h4>
					
					<div class="juries-details">
							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Nikos Avouris
									</h4>
									<p>
										University of Patras, Greece
									</p>
								</div>
							</div>
					

							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Andre Freire
									</h4>
									<p>
										Federal University of Lavras, Brazil
									</p>
								</div>
							</div>
					</div>
				</content>

				<content class="juries-section">

					<h4 class="title">
						Doctoral Consortium Chairs
					</h4>
					
					<div class="juries-details">
							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										David Lamas 
									</h4>
									<p>
										Tallinn University Estonia
									</p>
								</div>
							</div>
					

							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Geraldine Fitzpatrick
									</h4>
									<p>
										TU Wien, Austria
									</p>
								</div>
							</div>

							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Tariq Zaman
									</h4>
									<p>
										University of Technology Sarawak, Malaysia
									</p>
								</div>
							</div>
					</div>
				</content>

				<content class="juries-section">

					<h4 class="title">
						Industrial Experiences Chairs
					</h4>
					
					<div class="juries-details">
							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Helen Petrie
									</h4>
									<p>
										University of York, UK
									</p>
								</div>
							</div>
					

							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Jose Abdelnour-Nocera
									</h4>
									<p>
										University of West London, UK and ITI/Larsys, Portugal
									</p>
								</div>
							</div>
					</div>
				</content>


				<content class="juries-section">

					<h4 class="title">
						Publicity Chairs
					</h4>
					
					<div class="juries-details">
							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Delvin Varghese
									</h4>
									<p>
										Monash University, Australia
									</p>
								</div>
							</div>
					

							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Lourdes Moreno
									</h4>
									<p>
										Universidad Carlos III de Madrid, Spain.
									</p>
								</div>
							</div>
					</div>
				</content>

				

				<content class="juries-section">

					<h4 class="title">
						Advisors
					</h4>
					
					<div class="juries-details">
							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Marco Winckler
									</h4>
									<p>
										University of the Cote d’Azur, France
									</p>
								</div>
							</div>
					

							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Fernando Loizides
									</h4>
									<p>
										Cardiff University, UK
									</p>
								</div>
							</div>

							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Carmelo Ardito
									</h4>
									<p>
										LUM Giuseppe Degennaro University, Italy
									</p>
								</div>
							</div>
					</div>
				</content>


				



				<content class="juries-section">

					<h4 class="title">
						Web master
					</h4>
					
					<div class="juries-details">
							<div class="profile">
								<img src="" alt="" width="200px" height="200px">
								<div class="text-details">
									<h4>
										Edmund Wei
									</h4>
									<p>
										University of York
									</p>
								</div>
							</div>
					
					</div>
				</content>

				

				

			</section>

			
			
		</content>
		
	</main>

	<Footer/>
	
</Layout>

<style>

	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	.cfp-content-1{
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		/* justify-content: space-between; */
		/* height: 100vh; */
		/* width: 100%; */
		padding: 2em;
		border-bottom: 1px solid #002C38;
		/* padding-left: 16em; */
	}

	.center{
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.button-padding h2{
		padding: 0.1em 1em;
		border-radius: 50px;
	}

	.center *{
		margin: auto;
	}

	.sub-types{
		background-color: #002C38;
		color: #FCF7EB;
		border-radius: 30px;
		padding: 0.5em 0em 0.5em 0em ;
		margin-bottom: 1em;
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		/* width: max-content; */
		/* height: 100%; */
		/* width: 100%; */
	}

	.selection{
		padding: 0.5em;
		display: flex;
		/* flex-wrap: wrap; */
	}

	.sub-types h3{
		margin: 0px;
		padding: 0.2em;
		padding-left: 1em;
		padding-bottom: 0.5em;
		font-family: 'AH-B'
	}

	.box{
		display: flex;
		border-radius: 30px;
		background-color: #FCF7EB;
		width: 100%;
		padding: 1em;
		/* justify-content: space-between; */
		margin-left: 0.7em;
		/* height: 2em; */
		color: #002C38;
	}

	.box h3{
		padding: 0%;
		margin: 0%;
		/* padding-top: 0%; */
		/* padding-left: 1em; */
		/* padding-bottom: 0.2em; */
		font-family: 'AH-B'
	}

	.box p{
		/* padding-left: 1em; */
		margin: 0px;
	}

	.box img{
		height: 4em;
		max-width: 3em;
	}

	.box:last-child{
		margin-right: 0.7em;
	}

	.sub-details{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 1em;
	}

	content{
		z-index: 1;
		box-sizing: border-box;
		/* width: 100%; */
		/* position: absolute;
		top: 0%; */
		/* height: 100vh; */
		padding: 0px;
		/* padding-left: 14em; */
		margin: 0px;
		width: 100%;
		/* max-width: 100%; */
		/* overflow-x: hidden; */
		
	}

	.submissions{
		position: relative;
		justify-content: center;
		align-items: center;
	}

	.cfp-content-3{

		box-sizing: border-box;
		border-bottom: 1px solid #002C38;
		height: 100vh;
		display: flex;
		padding-left: 16em;
		padding: 4em;

	}

	.cfp-content-2, .cfp-content-3, .cfp-content-4{
		display: flex;
		flex-direction: column;
		padding: 4em;
		border-bottom: 1px solid #002C38;
		/* padding-left: 16em; */
	}

	.cfp-content-2 h1, .cfp-content-3 h1, .cfp-content-4 h1{
		/* padding-top: 1em; */
		/* padding-bottom: 1em; */
		margin: 0%;
		/* font-family: 'S-B'; */
		font-size: 2.5em;
	}

	.thin{
		font-family: 'S-R';
		margin: 0%;
		padding: 0%;
	}



	.profile{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin: none;
		width: 100%;
		justify-content: flex-start;

	}

	.profile img{
		display: none;
		margin: auto;
		margin-top: 1em;
		margin-bottom: 1em;
		padding-bottom: 1em;
	}

	.profile h4, .profile p{
		margin: 0%;
		padding: 0%;
		word-wrap: break-word;
		white-space: normal;
		text-align: left;
	}

	.title{
		font-family: 'AH-B';
		text-align: left;
		font-size: 1.5em;
	}

	.juries-details{
		display: flex;
	}

	.juries-section{
		display: flex;
		display: block;
		align-content: space-between;
		height: max-content;
		text-align: center;
		padding-bottom: 2em;
		border-bottom: 1px solid #002C38;
		/* padding-bottom: 4em; */
	}

	.juries-section:last-child{
		display: flex;
		display: block;
		align-content: space-between;
		padding-bottom: 0%;
		border-bottom: 0px solid #002C38;
	}

	.text-details{
		justify-content: center;
		align-content: center;
		text-align: center;
	}

	.nav-container{
		width: 14em;
	}

	.img-mask{
		max-height: 450px;
		overflow: hidden;
	}

	.rch{
		width: 100%;
		/* max-height: 473px; */
		object-fit: cover;
	}

	.stretch{
		box-sizing: border-box;
		display: flex;
		width: 100%;
		/* height: 100%; */
	}

	.pill{
		font-family: 'AH-B';
		font-size: 1em;
		margin: 0px;
		display: flex;
		padding: 0.2em 0.5em 0.2em 0.5em ;
		background-color: #002C38;
		color: #FCF7EB;
		border-radius: 50px;
		align-items: center;
		width: fit-content;
	}

	.pill img{
		margin: 0%;
		padding-right: 0.5em;
		width: 1em;
		height: 1em;
	}

	.location-detail{
		align-items: flex-end;
		margin-top: auto;
		margin-bottom: 0%;
		margin-left: 2em;
		white-space: nowrap;
		width: max-content;
	}

	.title{
		
		overflow: hidden;
		/* width: 200%; */
	}

	.title h1{
		font-family: 'S-B';
		font-size: 2.5em;
		/* height: 50%; */
		margin: 0%;
	}

	.title h3{
		font-family: 'S-B';
		font-size: 1.2em;
		padding-bottom: 0.2em;
		/* height: 50%; */
		margin: 0%;
	}

	

	.cfp-content-5 h1{
		padding-top: 1em;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0%;
		font-family: 'S-B';
		font-size: 2.5em;
	}

	.cfp-content-2 h3{
		margin: 0%;
		padding-top: 1em;
		font-family: 'AH-B';
		
		/* font-size: 2.5em; */
	}

	.middle-line{

		position: absolute;
		margin: auto;
		top: 20%;
		left: 50%;
		width: 15px;
		border-radius: 50px;
		height: 75%;
		background-color: #002C38;
		z-index: -1;
	}

	.transparent{
		opacity: 5%;
	}

	.theme{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		white-space: nowrap;
		height: min-content;
		margin-top: 2em;
	}

	/* .date{
		padding-top: 1em;
		margin: 0%;
	} */



	main{
		display: flex;
		flex-direction: row;
		overscroll-behavior: none;
		/* overflow-y: scroll */
		/* height: 300vh;
		padding-left: 14em; */
		/* margin-left: 14em; */
		/* position: absolute; */

	}

	.flex{
		display: flex;
	}

	.icons{
		box-sizing: border-box;
		max-width: 12em;
		margin: auto;
		padding: 1.5em;
		
	}

	.items{
		padding-top: 2em;
		padding-bottom: 2em;
		align-items: center;

	}

	.icon-container{
		display: flex;
		width: 15em;
		border-right: 2px solid #002C38;
		padding-right: 1em;
	}


	.items p{
		padding-left: 1.5em;

	}

	.item-description{
		width: 65%;
	}
	
	.home-list{
		display: flex;
		height: 50%;
		
		margin: auto;
		margin-left: 0%;
	}

	.list-line{
		margin-right: 1.2em;
		border-radius: 50px;
		width: 5px;
		background-color: #002C38;
	}

	.home-list h3{
		margin: 0px;
	}

	.home-list-items{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.read-more{
		padding-left: 1em;
		padding-right: 1em;
		width: max-content;
	}

	.logos{
		width: 90%;
		margin: auto;
	}

	.gold-tier{
		display: block;
		width: 100%;
		padding-bottom: 2em;
		
	}

	

	.logo-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.gold-tier .square{
		width: 8em;
		height: 8em;
		
		background-color: #002C38;
	}

	.silver-tier, .bronze-tier{
		width: 45%;
	}

	.silver-tier .square, .bronze-tier .square{
		width: 4em;
		height: 4em;
		
		background-color: #002C38;
	}

	.side-by-side{
		display: flex;
		justify-content: space-between;
	}

	.timeline-marker{
		margin: 1em;
		width: 0.5em;
		height: 0.5em;
		border-radius: 50px;
		background-color: #002C38;
	}

	.timeline-detail{
		display: flex;
		/* transform: translateX(-0.9%); */
		align-items: center;
		margin: 0%;
		display: flex;
		position: absolute;
	}

	.timeline-detail h3{
		display: block;
		justify-content:center;
		text-align: center;
		width: 8em;
		margin: 0%;
		/* padding: 1em; */
	}

	.p1{
		top: 0%;
	}

	.p2{
		top: 25%;
	}

	.p3{
		top: 50%;
	}

	.p4{
		top: 75%;
	}

	.timeline{
		position: relative;
		height: 300px;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: 2em;
	}

	.line{
		display: flex;
		box-sizing: border-box;
		width: 3px;
		height: 100%;
		background-color: #002C38;
		border-radius: 50px;
		/* border: 2px solid #002C38; */
	}
	
	.underline{
		text-decoration: underline;
	}

	.bold{
		font-family: 'AH-B';
	}

	.bold-title{
		font-family: 'S-B';
		text-align: left;
	}

	.none{
		all: unset;
		cursor: auto;
		display: flex;
	}

	

	@media screen and (max-width:1200px){
		.cfp-content-2, .cfp-content-3, .cfp-content-4{
			display: flex;
			flex-direction: column;
			padding: 2em;
			border-bottom: 1px solid #002C38;
			/* padding-left: 16em; */
		}

		
	}

	@media screen and (max-width:830px){

		.profile{
			padding-top: 1em;
		}

		.profile:first-child{
			padding-top: 0em;
		}

		.sub-types{
			padding-bottom: 0%;
			padding: 0.5em;
		}
		
		.box{
			margin: 0%;
			margin-bottom: 0.5em;
		}

		.box:last-child{
			margin: 0%;
			margin-bottom: 0%;
		}

		.selection{
			padding: 0em;
			padding-top: 0.5em;
			flex-direction: column;
		}

		.cfp-content-4, .cfp-content-3{
			padding: 2em;
			justify-content: center;
		}

		.juries-details{
			flex-wrap: wrap;
		}

		

		.bold-title {
			font-family: 'S-B';
			text-align: center;
		}

	}

	

</style>