---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Prefooter from '../components/Pre-footer.astro';
---

<Layout title='Interact 2023'>
	
	
	
	<main>
		<Navbar/>

		

		<content>

			<section class='registration-content-1'>


						<h1 class="title">
							REGISTRATION
						</h1>
						
						<div class='home-list'>

							<div class='list-line'></div>
		
							<div class='home-list-items'>
								<h3><a href="#brian-shackel">
									Pre-requisites
								</a>
									
								</h3>
		
							</div>
						</div>
						
					<p>Prices for</p>

						<div class='home-list'>

							<div class='list-line'></div>
		
							<div class='home-list-items'>
								<h3><a href="#brian-shackel">
									On-Site Participation
								</a>
									
								</h3>
		
								<h3><a href="#student">
									Remote Participation
								</a>
									
								</h3>
		
								<h3><a href="#interaction">
									Workshops
								</a>
									
								</h3>
								
								<h3><a href="#interaction">
									Courses
								</a>
									
								</h3>
		
							</div>
						</div>
				
			</section>

			<section class='registration-content-2' id="brian-shackel">
				<h2>Pre-Requisites</h2>
				
	

				<div class='home-list'>
						<p>
							<strong>Member</strong>
							
					Member of an IFIP associated national computer science organization (see <a class="underline" href="https://ifip.org/membership/?r=members">IFIP Members Page</a>), including ACM
					</p>
					
					<p>
							<strong>Retired/unemployed person</strong>
							
					please bring evidence of your status when you come to the conference (remote participants are asked to email evidence to  generalchairs@interact23.org)
					</p>
					
					<p>
							<strong>Student</strong>
							
					full-time at any level (Bachelor, Masters or PhD), please bring  evidence of your status when you come to the conference (remote participants are asked to email evidence to generalchairs@interact23.org)
					</p>
					
					<br>
			<a href="https://store.york.ac.uk/product-catalogue/computer-science/interact-2023">
			<button>
						Begin your registration here!
					</button>
						<a/>
			<p/>or visit <a class="underline" href="https://store.york.ac.uk/product-catalogue/computer-science/interact-2023">https://store.york.ac.uk/product-catalogue/computer-science/interact-2023<a/><p/>
				</div>
		
			</section>

			<section class='registration-content-2' id="accessibility">
				<h2>
				On-Site Participation
				</h2>
				Prices are shown in Pounds (£)
				
			<div class="table">
			
			<div class="table-items">
			
			<h3 class="item">Member</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			</div>
			
			<div class="table-items">
			
			<h3 class="item">Non-Member</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			</div>
			
			<div class="table-items">
			<h3 class="item">Retired Person</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			
			</div>
			
			<div class="table-items">
			<h3 class="item">Student</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			
			</div>
			
			<div class="table-items">
			<h3 class="item">Single Day Access</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			
			</div>
				</div>
				

			</section>
			

	<section class='registration-content-2' id="accessibility">
				<h2>
				On-Site Participation
				</h2>
				
				Prices are shown in Pounds (£)
				
			<div class="table">
			
			<div class="table-items">
			
			<h3 class="item">Member</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			</div>
			
			<div class="table-items">
			
			<h3 class="item">Non-Member</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			</div>
			
			<div class="table-items">
			<h3 class="item">Retired Person</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			
			</div>
			
			<div class="table-items">
			<h3 class="item">Student</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			
			</div>
			
			<div class="table-items">
			<h3 class="item">Single Day Access</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			
			</div>
				</div>
				

			</section>
			
			<section class='registration-content-2' id="accessibility">
				<h2>
				On-Site Participation
				</h2>
				
				Prices are shown in Pounds (£)
				
			<div class="table">
			
			<div class="table-items">
			
			<h3 class="item">Member</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			</div>
			
			<div class="table-items">
			
			<h3 class="item">Non-Member</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			</div>
			
			<div class="table-items">
			<h3 class="item">Retired Person</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			
			</div>
			
			<div class="table-items">
			<h3 class="item">Student</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			
			</div>
			
			<div class="table-items">
			<h3 class="item">Single Day Access</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			
			</div>
				</div>
				

			</section>
			
			<section class='registration-content-2' id="accessibility">
				<h2>
				On-Site Participation
				</h2>
				
				Prices are shown in Pounds (£)
				
			<div class="table">
			
			<div class="table-items">
			
			<h3 class="item">Member</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			</div>
			
			<div class="table-items">
			
			<h3 class="item">Non-Member</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			</div>
			
			<div class="table-items">
			<h3 class="item">Retired Person</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			
			</div>
			
			<div class="table-items">
			<h3 class="item">Student</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			
			</div>
			
			<div class="table-items">
			<h3 class="item">Single Day Access</h3>
			<p class="price">535</p>
			<p class="price">535</p>
			<p class="price">535</p>
			
			</div>
				</div>
				

			</section>
			
	

		</content>
		
	</main>

	<Footer/>
	
</Layout>

<style>

	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	main{
		display: flex;
		flex-direction: row;
		overscroll-behavior: none;
		/* overflow-y: scroll */
		/* height: 300vh;
		padding-left: 14em; */
		/* margin-left: 14em; */
		/* position: absolute; */
	}

	label{
		font-family: "AH-B";
	}

	content{
		width: 100%;
	}
	
	.underline{
		text-decoration: underline;
	}
	
	.table-items{
		width: 100%;
		display: flex;
		justify-items: space-evenly;
		justify-content: space-around;
	}
	
	.item{
		width: 40%
	}
	.registration-content-1{
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		/* width: 100%; */
		/* justify-content: space-between; */
		/* height: 100vh; */
		/* width: 100%; */
		padding: 3em;
		border-bottom: 1px solid #002C38;
		/* padding-left: 16em; */
	}


	/* FOR LIST */

	.list-line{
		margin-right: 1.2em;
		border-radius: 50px;
		width: 5px;
		background-color: #002C38;
	}

	.horizontal-list{
		display: none;
	}

	.home-list{
display: flex;
flex-direction: column;
		height: 50%;
		
		margin: auto;
		margin-left: 0%;
	}

	.home-list-items{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.home-list-items h3:first-child{
		margin-top: 0%;
	}

	.home-list-items h3:last-child{
		margin-bottom: 0%;
	}

	.center{
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.button-padding h2{
		padding: 0.1em 1em;
		border-radius: 50px;
	}

	.center *{
		margin: auto;
	}

	.sub-types{
		background-color: #002C38;
		color: #FCF7EB;
		border-radius: 30px;
		padding: 0.5em 0em 0.5em 0em ;
		margin-bottom: 1em;
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		/* width: max-content; */
		/* height: 100%; */
		/* width: 100%; */
	}

	.selection{
		padding: 0.5em;
		display: flex;
		/* flex-wrap: wrap; */
	}

	.sub-types h3{
		margin: 0px;
		padding: 0.2em;
		padding-left: 1em;
		padding-bottom: 0.5em;
		font-family: 'AH-B'
	}


	.sub-details{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 1em;
	}

	.submissions{
		position: relative;
		justify-content: center;
		align-items: center;
	}

	.registration-content-3{

		box-sizing: border-box;
		border-bottom: 1px solid #002C38;
		height: 100vh;
		display: flex;
		padding-left: 16em;
		padding: 4em;

	}

	.registration-content-2, .registration-content-3, .registration-content-4{
		display: flex;
		flex-direction: column;
		padding: 4em;
		border-bottom: 1px solid #002C38;
		/* padding-left: 16em; */
	}

	.registration-content-2 h1, .registration-content-3 h1, .registration-content-4 h1{
		/* padding-top: 1em; */
		padding-bottom: 1em;
		margin: 0%;
		font-family: 'S-B';
		font-size: 2.5em;
	}

	.registration-content-2 h2{
		text-transform: uppercase;
		padding-top: 0em;
		padding-bottom: 1em;
		margin: 0%;
		font-family: 'S-B';
		/* font-size: 2.5em; */
	}

	.input-field{
		padding-top: 1em;
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	.input-field input, .input-field textarea{
		all: unset;
		padding: 0.5em;
		border-radius: 0.5em;
		border: 2px solid #002C38;
		font-family: sans-serif;
	}

	.input-field label{
		padding-bottom: 0.2em;
		
	}

	h2{
		padding-top: 2em;
	}

	.contact-details h4{
		margin: 0%;
		font-family: 'AH-B';
	}

	.contact-details p{
		margin-top: 0%;
	}

	.juries-details{
		display: flex;
	}

	.juries-section{
		display: flex;
		display: block;
		align-content: space-between;
		padding-bottom: 4em;
	}

	.juries-section:last-child{
		display: flex;
		display: block;
		align-content: space-between;
		padding-bottom: 0%;
	}

	.text-details{
		justify-content: center;
		align-content: center;
		text-align: center;
	}

	.nav-container{
		width: 14em;
	}

	.img-mask{
		max-height: 450px;
		overflow: hidden;
	}

	.rch{
		width: 100%;
		/* max-height: 473px; */
		object-fit: cover;
	}

	.stretch{
		box-sizing: border-box;
		display: flex;
		width: 100%;
		/* height: 100%; */
	}

	.pill{
		font-family: 'AH-B';
		font-size: 1em;
		margin: 0px;
		display: flex;
		padding: 0.2em 0.5em 0.2em 0.5em ;
		background-color: #002C38;
		color: #FCF7EB;
		border-radius: 50px;
		align-items: center;
		width: fit-content;
	}

	.pill img{
		margin: 0%;
		padding-right: 0.5em;
		width: 1em;
		height: 1em;
	}

	.location-detail{
		align-items: flex-end;
		margin-top: auto;
		margin-bottom: 0%;
		margin-left: 2em;
		white-space: nowrap;
		width: max-content;
	}

	.title{
		font-family: 'S-B';
		font-size: 2.5em;
		padding-bottom: 1em;
		/* height: 50%; */
		margin: 0%;
		
		overflow: hidden;
		/* width: 200%; */
	}

	.title h3{
		font-family: 'S-B';
		font-size: 1.2em;
		padding-bottom: 0.2em;
		/* height: 50%; */
		margin: 0%;
	}

	

	.registration-content-5 h1{
		padding-top: 1em;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0%;
		font-family: 'S-B';
		font-size: 2.5em;
	}

	.registration-content-2 h3{
		margin: 0%;
		padding-top: 1em;
		font-family: 'AH-B';
		
		/* font-size: 2.5em; */
	}
	
	.conditions{
		padding-top: 2em;
	}


	/* Presets */

	.bold{
		font-family: 'AH-B';
	}

	.thin{
		font-family: 'S-R';
	}

	.horizontal-list-items{
		/* border-top: 2px dotted #002C38cc; */
		border-bottom: 2px dotted #002C38cc;
		display: flex;
		overflow-x: scroll;
		width: 100%;

	}

	.horizontal-list{
		display: none;
		overflow-x: scroll;
		position: sticky;
		background-color: var(--color-bg);
		top: 80px;
		/* opacity: 0%; */
		

	}
	.horizontal-list-items h3{
		width: 100%;
		white-space: nowrap;
		padding: 0.5em 1em;
		color: var(--color-bg);
		background-color: #002C38;
		border-radius: 30px;
		margin-left: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;

	}

</style>

<script>

		setInterval(function(){
	var containerTop = document.querySelector('.registration-content-1').getBoundingClientRect().top;
	console.log(window.innerWidth);
	if (containerTop <= 0 && window.innerWidth < 830) {

		console.log("this should be displayed");
			document.querySelector(".horizontal-list").style.display = "flex";

	}
	if (containerTop > 0 || window.innerWidth > 830) {
		console.log("this should be hidden");
		document.querySelector(".horizontal-list").style.display = "none";
		
	}
	}, 1);

	// gsap.fromTo(".horizontal-list", {
	// 	y: -100,

	// },
	// {
	// 	scrollTrigger: ".registration-content-1",
	// 	y: 0
	// });

	// gsap.fromTo(".horizontal-list", 
	// {
	// 	// scrollTrigger: ".registration-content-1",
	// 	y: 100
	// });
</script>