

<section class='banner'>
	<a href="/#updates-section">
		<p>
			UPDATES: Extension of Full Papers and Workshops Submission Deadlines >
		</p>
	</a>
</section>

<style>
	:root {
		--link-gradient: linear-gradient(45deg, #FFC22300, #FFC22344 30%, var(--color-bg) 60%);
		--link-gradient-1: linear-gradient(45deg, #002C3833, #002C38cc 30%, var(--color-border) 100%);
	}

	.banner {
		display: flex;
		flex-direction: column;
		padding: 2em 4em;
		border-bottom: 1px solid #002C38;
		background-color: #002C38;
		color: #FCF7EB;
		
	}

	.banner{
		padding: 0.7em 2em;
	}

	.banner p{
		margin: 0px;
		opacity: 1;
		color: #FFC223;
	}

	
</style>
