<footer>
	<div class='footer-div'>
		<stack>
			<div class='footer-category'>
				<h3>
					DISCOVER
				</h3>
				<a href="/cfp">Call For Papers</a> 
				<a href="/organisers">Organisers</a>
				<a href="https://link.springer.com/book/10.1007/978-3-031-42280-5">Programme</a>
				<a href="/venue">Venue</a>

			</div>
			<div  class='footer-category'>
				<h3>
					CONTACT
				</h3>
				<a href="/submissionscms/0">Submit</a>
				<a href="/contact">Contact Us</a>
			</div>
			<div class='footer-category'>
				<div class='interact-logo-items'>
					<a href="/">
						<img src='/Interact-2023-logo-full.svg' alt=''>
					</a>
					
					<div class='social-media'>
						<a href="https://www.facebook.com/groups/672185614120721" target="_blank"><img src='/facebook 1.svg' alt=''></a> 
						<a href="https://www.linkedin.com/groups/12722583/" target="_blank"><img src='/linkedin 1.svg' alt=''></a>
						<a ><input hidden id="general-email" value="helen.petrie@york.ac.uk"> <img id="email" src='/email 1.svg' alt=''></a>
					</div>
				</div>
				<p>
					INTERACT 2023 is the 19th International Conference promoted by the IFIP Technical Committee 13 on Human–Computer Interaction. INTERACT is held every two years.
				</p>
			</div>

		</stack>

		<stack>
			<div class='footer-category sponsors'>
				<p>
					Sponsors:
				</p>
				<div class='logo-container'>
					<div class="square">
						<img src="/UOY.svg" alt="">
					</div>

					<div class="square">
						<img src="/UWL.webp" alt="">
					</div>

					<div class="square">
						<img src="/IFIP-low-res.webp" alt="">
					</div>

					<div class="square">
						<img src="/UXQB-logo.svg" alt="">
					</div>
					
				</div>
			</div>
			
		</stack>
	</div>
</footer>

<style>
	footer{
		padding: 2em;
		z-index: 0;
	}

	.footer-div{
		padding: 3em;
		background-color: #ffffff;
		color: #002C38;
		display: block;
		z-index: 0;
		
		
	}

	.footer-category{
		display: flex;
		flex-direction: column;
		/* padding-right: 2em; */
		max-width: 40%;
		z-index: 0;

	}

	.footer-category p{
		font-size: 0.7em;
	}

	.footer-category h3{
		font-family: 'S-B';

	}

	.footer-category a{
		padding-top: 1em;
		text-decoration: none;

	}

	.footer-category a:hover{
		padding-top: 1em;
		text-decoration: underline;
	}

	.footer-category a:focus{
		padding-top: 1em;
		text-decoration: underline wavy;
	}

	.footer-category img{
		width: 7em;

	}

	.social-media img{
		/* max-height: 1.5em; */
		max-width: 1.5em;
		margin: auto;
		padding: 0.2em;
		align-items: center;
		justify-content: center;
	}

	.interact-logo-items{
		padding-bottom: 1em;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	stack{
		display: flex;
		justify-content: space-between;
		padding-bottom: 2em;
	}

	.sponsors{
		display: flex;
		max-width: 100%;
		justify-content: space-between;
	}

	.sponsors .square{
		/* width: 4em;
		height: 4em; */
		display: flex;
		justify-content: center;
		margin-right: 1em;
		/* background-color: #002C38; */
	}

	.square img{

		margin: auto;
	}

	.logo-container{
		display: flex;
	}

	.email button{
			all: unset;
		}

	@media screen and (max-width:830px){
		footer{
			padding: 0%;
		}

		stack{
			flex-direction: column;
			padding-bottom: 0%;
		}

		.footer-category{
			max-width: 100%;
			padding-top: 2em;
		}

		.sponsors{
			padding-top: 0%;
		}

		.logo-container{
			
			flex-wrap: wrap;
		}

		


	}
</style>

<script>
	document.addEventListener('click', e => {

		// console.log(e.target);

		if(e.target.id == "email"){
			// Get the text field
		var copyText = document.getElementById("general-email").value;
  
  
  // Copy the text inside the text field
  navigator.clipboard.writeText(copyText);

  // Alert the copied text
  alert("Copied the text: " + copyText);
		}

		
	})
	
  
</script>
