<footer>
	<div class='footer-div'>
		<stack>
			<div class='footer-category'>
				<h3>
					DISCOVER
				</h3>
				<a>Call For Papers</a>
				<a>Organisers</a>
				<a>Programme</a>
				<a>Venue</a>

			</div>
			<div  class='footer-category'>
				<h3>
					CONTACT
				</h3>
				<a>Register</a>
				<a>Contact Us</a>
			</div>
			<div class='footer-category'>
				<div class='interact-logo-items'>
					<img src='/Interact-2023-logo-full.svg' alt=''>
					<div class='social-media'>
						<img src='/facebook 1.svg' alt=''>
						<img src='/linkedin 1.svg' alt=''>
						<img src='/email 1.svg' alt=''>
					</div>
				</div>
				<p>
					INTERACT 2023 is the 19th International Conference promoted by the IFIP Technical Committee 13 on Human–Computer Interaction. INTERACT is held every two years.
				</p>
			</div>

		</stack>

		<stack>
			<div class='footer-category sponsors'>
				<p>
					Sponsors:
				</p>
				<div class='logo-container'>
					<div class='square'></div>
					<div class='square'></div>
					<div class='square'></div>
					<div class='square'></div>
					<div class='square'></div>
					<div class='square'></div>
					<div class='square'></div>
					<div class='square'></div>
				</div>
			</div>
			
		</stack>
	</div>
</footer>

<style>
	footer{
		padding: 2em;
		z-index: 100;
	}

	.footer-div{
		padding: 3em;
		background-color: #ffffff;
		color: #002C38;
		display: block;
		z-index: 100;
		
		
	}

	.footer-category{
		display: flex;
		flex-direction: column;
		/* padding-right: 2em; */
		max-width: 40%;
		z-index: 100;

	}

	.footer-category p{
		font-size: 0.7em;
	}

	.footer-category h3{
		font-family: 'S-B';

	}

	.footer-category a{
		padding-top: 1em;

	}

	.footer-category a:hover{
		padding-top: 1em;
		text-decoration: underline wavy;
	}

	.footer-category img{
		width: 7em;

	}

	.social-media img{
		/* max-height: 1.5em; */
		max-width: 1.5em;
		margin: auto;
		padding: 0.2em;
		align-items: center;
		justify-content: center;
	}

	.interact-logo-items{
		padding-bottom: 1em;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	stack{
		display: flex;
		justify-content: space-between;
		padding-bottom: 2em;
	}

	.sponsors{
		display: flex;
		max-width: 100%;
		justify-content: space-between;
	}

	.sponsors .square{
		width: 4em;
		height: 4em;
		margin-right: 1em;
		background-color: #002C38;
	}

	.logo-container{
		display: flex;
	}

	@media screen and (max-width:830px){
		footer{
			padding: 0%;
		}

		stack{
			flex-direction: column;
			padding-bottom: 0%;
		}

		.footer-category{
			max-width: 100%;
			padding-top: 2em;
		}

		.sponsors{
			padding-top: 0%;
		}

		.logo-container{
			
			flex-wrap: wrap;
		}


	}
</style>