<!-- export interface Navbar {

} -->
<!-- const {} = Astro.props; -->

	<div class='navbar'>
	<div class="container">
		<div class='logo'>
			<a href='/'><img src='/Logo.svg'>
			<h2 class='interact-text'>
				INTERACT <br> 2023
			</h2>
			</a>
		</div>
		<input type="checkbox" id="navbar">
		<ul class='nav-items'>
			<li><a href='/'>Home</a></li>
			<li class='submissions-link'>
				<a class="submissions-parent">Call For Papers ></a>
				<div class='dropdown-menu pos-1 submissions-parent'>
					<ul>
						<li><a href='/cfp'>General</a></li>
						<li>
							<div class='submission-types'>
								<a class="submissions-type-parent"> Submission Types > </a>
								
								<div class='dropdown-menu pos-2 submissions-type-parent'>
									<ul>

										<li><a href='/submissions/0' id='0'>Full Papers</a></li>
										<li><a href='/submissions/1' id='1'>Short Papers</a></li>
										<li><a href='/submissions/2' id='2'>Posters</a></li>
										<li><a href='/submissions/3' id='3'>Panels</a></li>
										<li><a href='/submissions/4' id='4'>Interactive Demos</a></li>
										<li><a href='/submissions/5' id='5'>Courses</a></li>
										<li><a href='/submissions/6' id='6'>Workshops</a></li>
										<li><a href='/submissions/7' id='7'>Doctoral Consortium</a></li>
										<li><a href='/submissions/8' id='8'>Industrial <br/> Experiences</a></li>
										
									</ul>
								
								</div>
							</div>
						</li>

						<li><a href='/anonymity'>Anonymity</a></li>
						<li><a href='/awards'>Awards</a></li>
					</ul>
				
				</div>
				
				
				
			</li>
			<!-- <li><a href=''>Programme</a></li> -->
			<li><a href='/organisers'>Organisers</a></li>
			<li><a href='/contact'>Contact</a></li>
			<li><a href='/venue'>Venue</a></li>
		</ul>
		</div>

		<div class="button-div">
			<!-- <button class='navbar-button'>
				Submit
			</button> -->
			
			<label class="burger" for="navbar">
				<div class="line"></div>
				<div class="line"></div>
			</label>
		</div>

		
		

	</div>


<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	.logo h2{
		margin: auto;
		display: flex;
		text-align: left;
		margin-bottom: 0%;
		/* padding-left: 10px; */
	}

	.logo{
		justify-content: space-between;
		display: flex;
		align-content: stretch;
		border-bottom: 1px solid #002C38;
		padding: 2em 1em;
	}

	.logo img{
		
		width: auto;
		max-height: 4em;
	}

	.logo a{
		all: inherit;
		padding: 0%;
		border: 0px;
		cursor: pointer;
	}

	.logo a:hover{
		text-decoration: underline;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	.nav-items{
		text-decoration: none;
		list-style: none;
		padding-left: 1em;
		padding-top: 1em;
	}

	.nav-items *{
		font-size: 1.1em;
		padding: 0.5em;
		padding-left: 0em;
	}

	.nav-items a{
		color: #002C38;
		text-decoration: none;
	}

	.nav-items a:hover{
		text-decoration: underline;
	}

	

	.navbar{
        position: sticky;
        top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 14em;
		/* padding: 1em; */
		height: 100vh;
		box-sizing: border-box;
		list-style: none;
		align-content: center;
		border-right: 1px solid #002C38;
		border-bottom: 1px solid #002C38;
		font-family: 'AH-B';
        margin: 0px;
        margin-right: 0px;
        z-index: 100;
		
		/* overflow-y: scroll; */
	}


	.navbar-button{
		width: 100%;
		justify-self: flex-end;
	}

	.dropdown-menu{
		box-sizing: none;
		padding: 0%;
		padding-right: 2em;
		display: flex;
		flex-direction: column;
		position: absolute;
		display: none;
		color: #FCF7EB;
		font-family: 'AH-R';
		/* margin-right: 2em; */
	}

	.pos-1{
		left: 8.5em;
		top: 10em;
	}
	.pos-2{
		border-left: 1px solid #FCF7EB;;
		left: 7.9em;
		top: 0em;
		
		/* padding-right: 50px; */
	}

	.dropdown-menu ul{
		padding: 0%;
		line-height: 0.9em;
	}

	.dropdown-menu li{
		background-color: #002C38;
		font-size: 0.9em;
		padding: 0.5em;
		list-style: none;
		
	}

	.dropdown-menu li a{
        white-space: nowrap;
		background-color: #002C38;
		padding: 0%;
		font-size: 0.9em;
		color: #FCF7EB;
	}

	.dropdown-menu li div{
		background-color: #002C38;
		padding: 0em;
		font-size: 1em;
		color: #FCF7EB;
	}

	

	.dropdown-menu a:hover{
		
		background-color: #002C38;
		color: #FCF7EB;
	}

	.submissions-link:hover .pos-1, 
	.submission-types:hover .pos-1,
	.dropdown-menu:hover
	{
		
		display: flex;
	}

	.submission-types:hover .pos-2{
		
		display: flex;
	}

	.interact-text{
		font-family: 'Montserrat';
		letter-spacing: -0.3px;
		padding-left: 0.5em;
	}

	.button-div{
		padding: 1em;
		/* width: 100%; */
	}

	.burger{
		display: none;
	}

	input{
		display: none;
	}

	

	@media screen and (max-width:1000px){
		.logo{
			width: 100%;
		}
		.navbar{
			position: sticky;
			top: 0px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 14em;
			/* padding: 1em; */
			height: 100vh;
			box-sizing: border-box;
			list-style: none;
			align-content: center;
			border-right: 1px solid #002C38;
			border-bottom: 1px solid #002C38;
			font-family: 'AH-B';
			margin: 0px;
			margin-right: 0px;
			z-index: 100;
	}

	}


	@media screen and (max-width:830px){
		.logo{
			width: 100%;
			max-height: 50px;
			padding: 0%;
			justify-items: center;
			border: 0px solid #002C38;
			
		}
		.logo img {
			padding-right: 0.5em;
			height: 45px;
		}

		.logo h2{
			display: flex;
			font-size: medium;
			padding: 0%;
			margin-top: 0.5em;
			width: 100%;
		}
		.navbar{
			position: sticky;
			display: flex;
			flex-direction: row;
			width: 100%;
			height: max-content;
			padding: 0.5em;
			padding-top: 1em;
			padding-bottom: 1em;
			border: 0px solid #002C38;
			background-color: var(--color-bg);
			z-index: 1000;
			overflow-y: scroll;
		}

		.nav-items{
			display: none;
		}

		input:checked ~ .nav-items{
			display: flex;
			flex-direction: column;
			top: 150px;
			position: sticky;
			background-color: var(--color-bg);
			height: min-content;
			width: 150%;
		}

		.button-div{
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			padding: 0%;
			height: min-content;
			width: auto;
			align-items: center;
			/* justify-items: flex-start; */
		}

		.navbar-button{
			align-self: center;
		}

		.burger{
			display: flex;
			flex-direction: column;
			width: auto;
			height: 36px;
			overflow: visible;
			justify-content: space-evenly;
			padding-left: 0.7em;
			/* background-color: #002C38; */
		}

		.line{
			display: flex;
			width: 30px;
			height: 6px;
			background-color: #FFC223;
		}

		.nav-items{
			margin: 0%;
			padding: 0%;
			
		}

		.nav-items li{
			padding: 0.7em;
			/* padding-left: 0em; */
			font-size: 1.2em;
		}

		.pos-1{
			
			top: 0%;
			font-size: 0.8em;

		}

		.dropdown-menu{
			position: relative;
			left: 0%;
			width: 100%;
		}
		.pos-2{
			border: 0px;
			padding: 2em;
		}

		.pos-2 ul{
			padding-top: 1em;
			/* background-color: var(--color-bg); */
		}
		.pos-2 li{
			top: 0%;
			font-size: 1em;
			padding-left: 0%;
			background-color: var(--color-bg);
			color: #002C38;
			padding-left: 1em;
			border-bottom: solid 1px #002C38;
		}

		.pos-2 li a{
			
			background-color: var(--color-bg);
			color: #002C38;
		}

		.container{
			display: flex;
			flex-direction: column;
		}

	}

	</style>

	<script>

	// gsap.fromTo(".horizontal-list", 
	// 	{
	// 		// scrollTrigger: ".awards-content-1",
	// 		y: 100
	// 	});
		// function clickStay(){
		// 	document.addEventListener('click', (e) => {
		// 	console.log(e.target.id);
		// 	if(e.target.classList.contains("submissions-parent")){
		// 		document.querySelector('.pos-1').style.display = "flex";
				
		// 	} else if (e.target.classList.contains("submissions-type-parent")){
		// 		document.querySelector('.pos-2').style.display = "flex";
				
		// 	} else {
				
		// 	}
		// })
		// }
		

		// document.addEventListener('mouseover', (e) => {
		// 		console.log(e.target.id);
		// 		if(e.target.classList.contains("submissions-parent")){
		// 			document.querySelector('.pos-1').style.display = "flex";
					
		// 		} else if (e.target.classList.contains("submissions-type-parent")){
		// 			document.querySelector('.pos-2').style.display = "flex";
					
		// 		} else {
		// 			document.querySelector('.pos-1').style.display = "none";
		// 			document.querySelector('.pos-2').style.display = "none";
		// 			clickStay();
		// 		}
		// })

		
		// document.querySelector('.submission-link')
	</script>