<section class='share-section'>
	<div class="share-container">
		<h1>
			CONTACT US
		</h1>
		
		<a href="/contact" class='share-button'>
			<button >
				Contact Us >
			</button>
		</a>
	</div>
		
</section>



<style>

	/* Share */

.share-section{
	align-content: center;
	box-sizing: border-box;
	border-bottom: 1px solid #002C38;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 4em;
}

.share-section h1{
	text-align: center;
	margin: auto;
	font-family: 'S-B';
}

.share-button{
	/* padding: 1em; */
	margin: auto;
	width: max-content;
}

.share-button button{
	padding: 1em 1.5em;
	margin: auto;
	width: max-content;
}

.share-container{
	height: 100%;
	padding: auto;
	display: flex;
	flex-direction: column;
}

</style>