<div class="selection">
    <input id="1" type="radio" name="type" value="manchester" checked>
    <label id="leeds-label" for="1" onchange="changeSection()">Leeds Bradford</label>
    
    <input id="2" type="radio" name="type" value="manchester">
    <label id="manchester-label" for="2" onchange="changeSection()">Manchester</label>
    
    <input id="3" type="radio" name="type" value="london">
    <label id="london-label" for="3" onchange="changeSection()">London</label>
</div>

<div class="directions">
    <div set:html={transport[0]} id='1' ></div>
    <div set:html={transport[1]} id='2' ></div>
    <div set:html={transport[2]} id='3'></div>
</div>

<script>
				
    function changeSection(){
        console.log(document.getElementsByName('type').values);
        // if (document.getElementsByName('type').value){

        // }
    }
    
</script>